{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<style>
    #bomb_sprite {
        height: 55px;
        width: 55px;

        background: url("/../images/bomb_sprites.jpg")
    }
</style>

<div id="bomb">
    <p id="bomb_sprite"> </p>
</div>
</div>
{% endblock %}
